.signup {
  // Photo by Karolina Grabowska: https://www.pexels.com/photo/anonymous-slender-female-athlete-tying-shoelaces-near-sport-accessories-4498553/
  background-image: linear-gradient(to left bottom, rgb(148 237 249 / 45%), rgb(253 83 83 / 74%)), url('../../../assets/images/objects.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  position: absolute;

  & .logo{
    position: absolute;
    left: 16px;
    top: 16px;
  
    & img {
      width: 80px;
    }
  }
}

p, a, span {
  color: #fff;
}
.signup-box {
  // Box styles
  background-color: #c3c7f9;
  padding: 40px;
  width: 350px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 32px;
  top: 50%;

  &__title {
    // Title styles
    font-size: 24px;
    text-align: left;
    margin-bottom: 16px;
    width: 100%;
    color: #fff;
  }

  &__form {
    width: 100%;

    &--group {
      margin-bottom: 10px;
    }

    &--input {
      display: block;
      width: 94%;
      padding: 8px;
      height: 24px;
      border-radius: 16px;
      border: none;
      padding-left: 20px;
      margin-bottom: 20px;
    }

    &--button {
      display: block;
      width: 100%;
      padding: 10px;
      background-color: #f97d9c;
      color: #fff;
      border: none;
      margin-top: 32px;
      border-radius: 16px;
      font-size: 24px;
      transition: .3s;

      &:hover {
        border: 2px solid #ff6289;
        cursor: pointer;
      }

      &:active {
        font-size: 20px;
      }
    }
  }

  &__social {
    // Social button container styles
    display: flex;
    justify-content: center;
    margin: 32px 0;
    &--button {
      // Social button styles
      border-radius: 50%;
      margin-right: 10px;
      background-size: cover;
    }
  }

  &__info {
    width: 100%;
    &--text {
      // Text styles
      font-size: 14px;
      margin-bottom: 10px;
      text-align: left;
      cursor: pointer;
  
      & a {
        color: #948eff;
      }
    }
  
    &--signup-link {
      // Signup link styles
      cursor: pointer;
      font-weight: bold;
    }
  
    &--checkbox {
      // Checkbox styles
      display: flex;
      align-items: center;
      margin-bottom: 10px;
  
      &-input {
        margin-right: 5px;
      }
  
      &-text {
        font-size: 14px;
  
        a {
          color: #948eff;
        }
      }
    }
  }

  // Media queries
  @media screen and (min-width: 768px) {
    // For big screens, align to the right
    position: absolute;
    top: 50%;
    right: 12%;
    transform: translateY(-50%);
  }

  @media screen and (max-width: 767px) {
    // For tablet and small screens, align center
    margin-top: 40%;
    margin-left: auto;
    margin-right: auto;
  }
}
