<p>form works!</p>

<h1>{{title}}</h1>

<h1>Contador {{contador}}</h1>

<button (click)="increase()">Aumentar</button>
<button (click)="decrease()">Restar</button>
<button (click)="multiply(2)">Multiplicar</button>
<button (click)="divide(2)">Dividir</button>
<button (click)="reset()">Resetear</button>

<h1>operaciones</h1>

<!-- Modulo de porcentaje -->
<!-- 2 % 2 = 0 -->
<!-- 5 % 2 = 1 -->
<p>para saber si es par ({{ifEven(contador)}})</p>

<p>para saber si es impar e igual a 5 ({{checkSomeStuff(contador, 5)}})</p>
