<div class="login">

  <div class="logo">
    <a [routerLink]="['/']">
        <img src="/assets/icons/logo.svg">
    </a>
  </div>

  <div class="login-box">
    <h2 class="login-box__title">Ingresa a GOMY</h2>
    
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-box__form">

      <div class="login-box__form--group">
        <input class="login-box__form--input" type="text" placeholder="Username" formControlName="username">
      </div>
  
      <div class="login-box__form--group">
        <input class="login-box__form--input" type="password" placeholder="Password" formControlName="password">
      </div>
  
      <button class="login-box__form--button" [disabled]="loginForm.invalid">Ingresar</button>
    </form>
    
    <div class="login-box__info">
      <p class="login-box__info--text"><a href="#" class="login-box__info--signup-link">¿Olvidaste la contraseña?</a></p>
      <p class="login-box__info--text">¿No tienes una cuenta? <a class="login-box__info--signup-link" [routerLink]="'/signup'" >Registrate</a></p>

    </div>

    <div class="">
      <p>O registrate con</p>
    </div>
    <div class="login-box__social">
      <a class="login-box__social--button">
        <img src="/assets/icons/google.svg" alt="" srcset="">
      </a>
      <a class="login-box__social--button">
        <img src="/assets/icons/facebook.svg" alt="" srcset="">
      </a>
    </div>
  </div>

</div>
