<div class="body">
  <h1>Romario</h1>
  <h2>Augusto</h2>
  <h3>Estrada</h3>
  <h4>Florez</h4>
  <h5>Messi</h5>
  <h6>Pelé</h6>
  
  <!-- <p>Estrada</p> -->
  
  <a href="https://www.google.com" target="_blank" rel="noopener noreferrer">
    google
  </a>
  <br>
  <br>
  <br>
  <a href="https://www.escueladeartesyletras.com" target="_blank" rel="noopener noreferrer">
    Escuela de artes y letras Fake
  </a>
  <br>
  <br>
  <br>
  <a href="https://artesyletras.com.co" target="_blank" rel="noopener noreferrer">
    Escuela de artes y letras real
  </a>
  
  <em>Febrero</em>
  
  <strong>algo</strong>
  
  <span>Texto flotante</span>
  
  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin feugiat vestibulum pharetra. Proin id venenatis leo, et sodales lectus. Praesent non nisl vel ante varius euismod et nec erat. Quisque egestas mauris et leo efficitur, a cursus libero laoreet. Mauris at commodo metus, eu congue tellus. Proin sodales tellus in nisi lacinia consequat. Quisque finibus diam nisl, eget vestibulum mauris bibendum in. Donec eget vestibulum elit. Duis nec nisl massa. Vestibulum vitae mauris at ligula ultrices finibus et a neque. Aenean volutpat suscipit augue, eget tincidunt diam iaculis ac. Maecenas ut massa non dolor lacinia efficitur. Donec vitae nibh et lacus ullamcorper fermentum eu quis justo. Aenean venenatis auctor tortor eu pharetra.</p>
  
    <p>Aenean porta, tortor in molestie luctus, nulla nibh cursus mi, sit amet posuere odio ex eu quam. In finibus sit amet sem ac aliquam. In a turpis ipsum. Sed id pulvinar nunc. Sed nec purus in orci commodo feugiat nec sit amet tortor. Mauris ut neque vel velit sagittis fermentum. Integer aliquam elementum consectetur. Ut gravida est in tortor mattis consequat. Curabitur a nisl sagittis, aliquam tellus sagittis, vulputate lacus. Ut vel ultrices diam. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer sodales ipsum et elementum suscipit. Proin pretium luctus erat, id pulvinar justo porta non. Maecenas ultrices dictum lectus, et lacinia sem vestibulum sit amet. Morbi elit arcu, laoreet vitae quam nec, laoreet porttitor orci. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
  
    <p>Phasellus non nisl eget turpis rutrum consectetur sit amet id augue. Cras consequat sit amet nulla vitae rutrum. Morbi vulputate massa nec risus egestas porta. Morbi euismod eget magna nec semper. Aliquam eu mattis nisl. Quisque et mauris placerat, tincidunt tellus eget, malesuada sem. Mauris accumsan felis a dictum commodo. Nam in augue tristique massa commodo maximus. Sed cursus tristique nisl in facilisis. Donec eu ipsum ultrices, condimentum nibh sit amet, ultrices enim. Pellentesque ac nisl enim. Vivamus et mauris mollis, bibendum urna in, feugiat lorem. Sed in hendrerit urna. Donec molestie dolor fermentum velit molestie facilisis. Pellentesque sit amet tortor ut libero convallis eleifend sed sed orci.</p>
  
    <p>Cras id eros dignissim, scelerisque est quis, sodales ex. Sed ut faucibus lorem, ut vestibulum turpis. Morbi cursus ipsum et turpis suscipit rutrum. Phasellus nec lorem ac nisi volutpat iaculis at vel justo. Pellentesque tempus fringilla purus. Nulla mattis vehicula aliquet. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Fusce euismod ipsum a nibh placerat, non posuere libero tincidunt. Aenean pretium eget augue non condimentum. Donec viverra felis a ante aliquam, nec blandit arcu ultrices. Vestibulum hendrerit nisl quis ante pharetra, sit amet ullamcorper dolor consequat. Duis et elementum arcu. In hac habitasse platea dictumst. Nunc eu rutrum sem. Phasellus id blandit lorem. Etiam nisi nisi, placerat et magna sit amet, scelerisque dignissim enim.</p>
  
    <p>Pellentesque id risus vel tortor sollicitudin pulvinar et eget sapien. Donec tincidunt congue sem non sollicitudin. Etiam sit amet porta augue, vel ultricies leo. Donec ut est mauris. Etiam varius, mauris sollicitudin ullamcorper lacinia, sem erat congue velit, vel malesuada velit lorem vitae odio. Nulla ligula ligula, dignissim non neque eu, lacinia ultrices ex. Phasellus laoreet lorem eu augue scelerisque, non congue velit maximus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas at porttitor turpis, ut tincidunt felis. Curabitur pharetra, tellus ac luctus viverra, erat felis mattis magna, vitae pharetra tellus velit eget ex</p>
  </div>
  
  <div class="enterPadding"></div>
  
  <div>
    <table border="1">
      <tbody>
        <tr>
          <td>1</td>
          <td>2</td>
          <td>3</td>
        </tr>
        <tr>
          <td>4</td>
          <td>5</td>
        </tr>
        <tr>
          <td>6</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="enterPadding"></div>
  <div>
    <table>
      <thead>
        <tr>
          <th>Hora</th>
          <th>Lunes</th>
          <th>Martes</th>
          <th>Miércoles</th>
          <th>Jueves</th>
          <th>Viernes</th>
          <th>Sábado</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>06:00pm - 08:00pm</td>
          <td>Computación gráfica</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>06:00pm - 09:00pm</td>
          <td>&nbsp;</td>
          <td><em>Programación y estructura de datos</em></td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>02:00pm - 04:00pm</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>Escritura creativa</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>06:00pm - 10:00pm</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>Cálculo diferencial</td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <td>12:00pm - 01:00pm</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <td>&nbsp;</td>
          <th>Consejería 2</th>
        </tr>
        
      </tbody>
  </table>
  </div>

  <div class="enterPadding"></div>
</div>

