.body {
    /* background-color: aquamarine; */
    /* background-color: #BB0099; */
    /* background-color: rgb(25, 100, 210); */
    /* background-color: rgba(150, 200, 0, 0.5); */
    background-color: #ffffff;
    color: #000000;
    width: 100%;
    height: auto;

    & p {
        font-size: 20px;
    }

    & span {
        font-size: 30px;
        color: rgb(211, 96, 96);
    }

    .enterPadding {
        width: 100%;
        height: 100px;
    }
}

table {
    width: 100%;
    border-collapse: collapse;

    & th {
        border: 1px solid;
        padding: 10px;
        text-align: center;
    }

    & td {
        border: 1px solid;
        padding: 10px;
        text-align: center;
    }
}

.inputTypes {
    width: 50%;
    margin: 0 auto;
}

input {
    width: 100%;
    margin-bottom: 40px;
}

#content1 {
    border: 1px solid black;
    padding: 20px;
    background-color: greenyellow;
}

#content2 {
    border: 1px solid black;
    padding: 20px;
    background-color: blueviolet;
    width: 100px;
    height: 100px;

    &:hover {
        background-color: red;
        cursor: pointer;
    }
}

#content3 {
    border: 1px solid black;
    padding: 20px;
    background-color: rgb(255, 163, 4);
    width: 100px;
    height: 100px;
}

img {
    width: 100%;
}

iframe {
    width: 100%;
    height: 500px;
}

input.control {
    background-color: rgb(255, 163, 4);
    &:focus {
        background-color: orangered;
    }
}

#bgImage {
    background-image: url('../../src/assets/images/elina.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px;
}

.titulos {
    background-color: coral;
    width: 100%;
    text-align: center;
    padding: 4px;
    margin-bottom: 0px;
}

.container {
    border: 2px solid #000000;
    border: 2px dashed #000000;
    border: 2px dotted #000000;
    border: 2px double #000000;
    margin: 10px;
    padding: 10px;
    height: 300px;
}

.container2 {
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    width: 500px;
    height: 500px;
    line-height: 500px;
    font-weight: bold;

    & p {
        line-height: normal;
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        padding-left: 35%;
    }
}


// Align
.textTypes {
    width: 50%;
    margin: 0 auto;
}
.alineacion {
    text-align: right;
    text-align: center;
    text-align: justify;
    text-align: left;

    text-shadow: 32px 18px 3px green;
}

.box {
    width: 100px;
    height: 100px;
    box-shadow: 4px 10px 8px orangered;
    margin: 32px;
    background-color: brown;
}

.btn {
    width: 300px;
    padding-bottom: 12px;
    text-align: center;
    margin: 0 auto;
}

.boxAnimated {
    width: 80px;
    height: 80px;
    border: 1px solid #000000;
    transition: 1s;
    animation: firstAnimation 5s infinite;
    margin-bottom: 100px;
}

@keyframes firstAnimation {
    0% {
        scale: 1;
        border: 2px solid blue;
        background-color: yellowgreen;
        position: relative;
        left: 0px;
    }
    100% {
        scale: 2;
        border: 2px solid orange;
        background-color: blueviolet;
        position: relative;
        left: 100px;
    }
}

.contentCircle {
    width: 200px;
    height: 200px;
    margin: 32px;
    margin-bottom: 300px;
}
.circleRedAnimated {
    box-shadow: 12px 12px 12px gray;

    width: 25px;
    height: 25px;

    position: relative;
    left: 0px;
    top: 0px;

    border-radius: 50px;

    animation: circleMovement 10s infinite;
}

@keyframes circleMovement {
    0% {
        top: 0px;
        left: 0px;
    }
    25% {
        top: 0px;
        left: 200px;
        background-color: orangered;
    }
    50% {
        left: 200px;
        top: 200px;
        background-color: purple;
    }
    75% {
        left: 0px;
        top: 200px;
        background-color: pink;
    }
    100% {
        left: 0px;
        top: 0px;
        background-color: red;
    }
}