@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:display=swap');

body {
    margin: 0px;
    font-family: 'Montserrat Alternates', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: bold;
}

p, a, span {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 300;
}

input, textarea {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 300;
}
button {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 600;
}