/* You can add global styles to this file, and also import other style files */
body {
    // font-family: 'Bungee Inline', cursive;
}

h1 {
    font-family: 'Bungee Inline', cursive;
}

h2 {
    font-family: 'Bungee Inline', cursive;
}

h3 {
    font-family: 'Cairo', sans-serif;
}

p {
    font-family: 'Cairo', sans-serif;
}